@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-merriweather: "Merriweather", serif;
  --color-secondary: #6b6b6b;
  --color-tertiary: #f2f2f2;
  --shadow-tactile: 2px 2px 0px 0px #000000;
}

body {
  font-family: var(--font-inter), sans-serif;
}

input::placeholder,
textarea::placeholder {
  @apply text-gray-400;
}
